{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>this is index1 view</p> --}}
<div class="row">
    <div class="col-sm-2 bg-info">
        <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
        <li class="nav-item active">
        <a class="nav-link" href="/users">User <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/actors">Actors</a>
      </li>
        <li class="nav-item">
        <a class="nav-link " href="/films">Film</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/loadFile">Load File</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/newsletter">use Ajax</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    
    </ul>
    </div>
    <div class="col-10 bg-light">
        <div class="container">
            <div class="row text-center">
                <div class="col-lg-12 col-md-12">
                    <h3>Галерея</h3>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-12 col-md-12 text-center">
                    <button class="btn btn-default" type="button" id="add" data-toggle="tooltip" data-placement="left"
                        title="Добавить одно изображение">Добавить изображение</button>
                    <p class="count-text">Добавленно изображений: <span id="count">0</span></p>
                </div>
                <div id="type-selector1" class="col-lg-4 col-md-4">
                    <select id="type-selector" class="form-control">
                        <option default value="0">Сортировать:</option>
                        <option value="1"><button>по имени А-Я</button></option>
                        <option value="2">по имени Я-А</option>
                        <option value="3">сначала новые</option>
                        <option value="4">сначала старые</option>
                    </select>
                </div>
                {{!-- <div class="col-lg-4 col-md-4 input-group input-group-sm mb-3">
                    <div class=" input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-sm">Кількість елементів</span>
                    </div>
                    <input type="text" id="countCar-element" class="form-control" aria-label="Small"
                        aria-describedby="inputGroup-sizing-sm">
                </div> --}}
            </div>
             <div class="row" id="result"></div>

        </div>
    </div>

</div>