<div class="container formContainer">
    <div class="row center text-center">
        <div class="col-lg-12 col-md-12">
            <form action="/login" id="login" method="post" >
                <h2>Log in</h2>
                <label for="email">Email</label>
                <input type="email" name="email" required />
                <div class="email error"></div>
                <label for="password">Password</label>
                <input type="password" name="password" required />
                <div class="password error"></div>
                {{!-- <input type="submit"> --}}
                <button type="button" id="btn">login</button>

            </form>
            
        </div>
    </div>
</div>
<script>
    console.log('ok');
    const form = document.getElementById('login')

    $(form).ready(function () {
       

        $('#btn').click(function () {

            console.log(form.email.value)
            if (form.email.value === localStorage.email &&
                form.password.value === localStorage.password) {
                alert('ok');
                var action = $(form).attr('action');
               // console.log($(form).serialize());
                var $container = $(form).closest('div');
                
                $.ajax({
                    url: action,
                   // contentType:'application/json',
                    type: 'POST',
                    data: $(form).serialize(),
                    success: function (data) {
                        console.log(data)
                        if (data.success) {
                            $container.html('<h2>Thank you!</h2>');
                            $('#nav-main').removeClass('invisible');

                        } else {
                            $container.html('There was a problem.');
                        }
                    },
                    error: function () {
                        $container.html('There was a problem of net');
                    }
                });
            } else {
                alert('Incorect email or password');
            }

        })

    })


</script>